.builds-recentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--preta);
}

.builds-recentes h1 {
    font-size: 2rem;
    color: var(--branca);
}

.builds-recentes ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 0;
    list-style: none;

}

.builds-recentes ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.builds-recentes ul li img{
 width: 400px;

}

.builds-recentes ul li a, .builds-recentes ul li p{
    text-decoration: none;
    color: var(--branca);
    margin: 0.5rem;
    
}