.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--branca);
    color: var(--preta);
    margin-top: 5px;
}

.social-medias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgb(254 108 0);
}

.social-medias li {
    margin: 1rem;
}

.social-medias img {
    width: 32px;
    padding: 3px;
}

@media only screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}