.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--branca);
    ;
    padding: 1rem;
    margin-bottom: 5px;
}

.header .main-logo {
    margin: 1rem;
}

.header-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-menu li {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.header-menu li a {
    width: 100%;
    text-decoration: none;
    color: var(--preta);
}

.header-menu li a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    }

    .header-menu {
        flex-direction: row;
        width: auto;
    }

    .header-menu li {
        font-size: 1.25rem;
    }
}